.Header {
  display: grid;
  grid-template-columns: 1fr 1fr 6fr;
  grid-template-rows: 100px;
  background-color: #8193FB;
  color: #fff;
}
.header > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.users-btn:hover {
  cursor: pointer;
}
